body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.upper-footer {
  border-bottom: 2px solid white;
}

.form-input-control {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  color: 'black';
  width: 100%;
}
.form-input-control:focus {
  outline: none;
}
.my-btn {
  background-color: brown;
  color: white;
}
.my-btn:focus {
  background-color: inherit;
  transform: 0.98;
}
.gallery-form {
  display: flex;
  flex-direction: column;
}
.gallery-img {
/* display: inline-flex; */
width: 100vw;
height: 30vh;
margin: 10px;
}
